.container {
  width: 100%;
  font-family: "Helvetica", sans-serif, serif;
}

button {
  margin: 5px;
  font-size: 1em;
}

.flex {
  display: flex;
}

.frame {
  width: 400px;
  height: 400px;
  text-align: center;
}

.navigateQuestions {
    width: 400px;
    text-align: center;
}
.status {
  /*flex-grow: 1;*/
}

table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

td {
  background-color: navy;
  cursor: pointer;
  color: white;
}

td:hover {
  background-color: blue;
}
